.page-title {
    background-color: #25ADE8;
    padding: 1rem;

    h1 {
        color: white;    
    }
}

.set-ko-title {
    margin-top: 5rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h1 {
        color: #1E1E1E;    
    }
}

.set-ko-box {
    padding: 1rem;
    border: 1px solid #1E1E1E;
    width: 60%;
    min-width: 250px;
}

.btn-custom-color {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #25ADE8;
    color: white;
}

.btn-custom-color:hover {
    background-color: #197ca7;
    color: white;
}